<app-navbar></app-navbar>

<div class="about">
  <div class="container">
    <div class="row align-items-center">
      <!-- Tabs -->
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item" *ngFor="let tab of tabs; let i = index">
          <a class="nav-link"
            [ngClass]="{ active: activeTab === i }"
            (click)="setActiveTab(i)">
            {{ ('TABS.' + tab.title) | translate }}
          </a>
        </li>
      </ul>

      <!-- Tab Content -->
      <div class="tab-content">
        <ng-container *ngFor="let tab of tabs; let i = index">
          <div *ngIf="activeTab === i" class="container tab-pane" [ngClass]="{ active: activeTab === i, fade: activeTab !== i }">

            <!-- Volunteer Login Tab -->
            <ng-container *ngIf="tab.userType === 'volunteer'">
              <h3 class="login-title">{{ 'LOGIN.VOLUNTEER_TITLE' | translate }}</h3>
              <section class="login-section">
                <div class="row login-container">
                  <div class="col-md-6 form-column">
                    <form #loginForm="ngForm" (ngSubmit)="submitLogin()" class="login-form">
                      <input type="email" [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate" class="form-input" [(ngModel)]="loginData.email" name="email" required />
                      <input type="password" [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate" class="form-input" [(ngModel)]="loginData.password" name="password" required />
                      <button type="submit" class="submit-btn" [disabled]="loginForm.invalid">{{ 'LOGIN.LOGIN_BTN' | translate }}</button>
                      <div class="error-message">{{ loginErrorMsg }}</div>
                      <a routerLink="/forgot-password">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
                    </form>
                  </div>
                  <div class="col-md-6 info-column">
                    <div class="login-info">
                      <h4>{{ 'LOGIN.NEW_HERE' | translate }}</h4>
                      <p>{{ 'LOGIN.JOIN_VOLUNTEERS' | translate }}</p>
                      <a routerLink="/benevolat" class="info-btn">{{ 'LOGIN.SIGNUP' | translate }}</a>
                    </div>
                  </div>
                </div>
              </section>
            </ng-container>

            <!-- Donor Login Tab -->
            <ng-container *ngIf="tab.userType === 'donor'">
              <h3 class="login-title">{{ 'LOGIN.DONOR_TITLE' | translate }}</h3>
              <section class="login-section">
                <div class="row login-container">
                  <div class="col-md-6 form-column">
                    <form #donationForm="ngForm" (ngSubmit)="submitLogin()" class="login-form">
                      <input type="email" [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate" class="form-input" [(ngModel)]="loginData.email" name="email" required />
                      <input type="password" [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate" class="form-input" [(ngModel)]="loginData.password" name="password" required />
                      <button type="submit" class="submit-btn" [disabled]="donationForm.invalid">{{ 'LOGIN.LOGIN_BTN' | translate }}</button>
                      <div class="error-message">{{ loginErrorMsg }}</div>
                      <a routerLink="/forgot-password">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
                    </form>
                  </div>
                  <div class="col-md-6 info-column">
                    <div class="login-info">
                      <h4>{{ 'LOGIN.MAKE_DIFFERENCE' | translate }}</h4>
                      <p>{{ 'LOGIN.DONOR_TEXT' | translate }}</p>
                      <a routerLink="/register" class="info-btn">{{ 'LOGIN.SIGNUP' | translate }}</a>
                    </div>
                  </div>
                </div>
              </section>
            </ng-container>

            <!-- Beneficiary Login Tab -->
            <ng-container *ngIf="tab.userType === 'beneficiary'">
              <h3 class="login-title">{{ 'LOGIN.BENEFICIARY_TITLE' | translate }}</h3>
              <section class="login-section">
                <div class="row login-container">
                  <div class="col-md-6 form-column">
                    <form #contactForm="ngForm" (ngSubmit)="submitLogin()" class="login-form">
                      <input type="email" [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate" class="form-input" [(ngModel)]="loginData.email" name="email" required />
                      <input type="password" [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate" class="form-input" [(ngModel)]="loginData.password" name="password" required />
                      <button type="submit" class="submit-btn" [disabled]="contactForm.invalid">{{ 'LOGIN.LOGIN_BTN' | translate }}</button>
                      <div class="error-message">{{ loginErrorMsg }}</div>
                      <a routerLink="/forgot-password">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
                    </form>
                  </div>
                  <div class="col-md-6 info-column">
                    <div class="login-info">
                      <h4>{{ 'LOGIN.NEED_HELP' | translate }}</h4>
                      <p>{{ 'LOGIN.BENEFICIARY_TEXT' | translate }}</p>
                    </div>
                  </div>
                </div>
              </section>
            </ng-container>

          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
