/* Navbar Base Styles */
.navbar {
  position: relative;
  transition: 0.5s;
  z-index: 999;
  padding: 0;
  margin-bottom: 30px;
  background-color: #284E7B !important; /* Your requested color */
  display: flex; /* Utilisation de flexbox pour organiser les éléments */
  justify-content: space-between; /* Espacement entre le logo et les liens */
  align-items: center; /* Centrer verticalement */
}

/* Logo Styles */
.navbar .navbar-brand {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  line-height: 0;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-right: 30px; /* Espacement entre le logo et les liens */
}

.navbar .navbar-brand img {
  width: auto;
  height: 120px;
  object-fit: contain;
  margin-left: 50px;
}

/* Navigation Links */
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  padding: 10px 15px 8px 15px;
  color: #ffffff !important;
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: #FDBE33 !important;
}

/* Custom Button */
.btn-custom {
  background-color: #FDBE33;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-custom:hover {
  background-color: #E64A19;
  transform: scale(1.05);
}

.btn-custom:active {
  transform: scale(0.98);
}

/* Dropdown Menu */
.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}


/**********************************/
/*********** Translation button CSS **********/
/**********************************/
.dropdown  {
  border-radius: 20px;
  background-color:#ffc107 ;
  font-weight: 500;
  transition: all 0.3s ease;
}

.dropdown .btn-outline-light:hover {
  background-color: #ffc107;
  color: #000;
}

.dropdown-menu {
  background-color: #222;
  border: none;
}

.dropdown-item {
  color: #222;
}

.dropdown-item:hover {
  background-color: #ffc107;
  color: #000;
}


/* Responsive Adjustments */
@media (max-width: 991.98px) {
  .navbar .navbar-brand img {
      height: 80px;
  }

  .navbar-collapse {
      background-color: #1a3a5a;
      padding: 15px;
      margin-top: 15px;
      border-radius: 5px;
  }

  .dropdown-menu {
      background-color: transparent !important;
      border: none !important;
  }

  .dropdown-item {
      color: white !important;
      padding: 8px 15px !important;
  }
}

